@model IEnumerable<UniversityLibrary.Student>

@{
    ViewBag.Title = "All Students";
}


@using (@Html.BeginForm("Index", "Student", FormMethod.Get))
{
     @Html.RadioButton("sortBy", ViewBag.SortByName as string) <text> Sort by Name </text>
     @Html.RadioButton("sortBy", ViewBag.SortById as string) <text> Sort by ID </text>
    
      <input type="submit" value="Sort" />
    
     
}
<h2>Students in University</h2>

<p>
    @Html.ActionLink("Create New", "Create") | @Html.ActionLink("Search","Search")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdStudent }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdStudent }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdStudent }) |
            @Html.ActionLink("Add Course", "AddCourse", new  { id=item.IdStudent}) |
            @Html.ActionLink("Delete Course", "DeleteCourse", new { id = item.IdStudent })
        </td>
    </tr>
}

</table>
