@model UniversityLibrary.Student

@using (@Html.BeginForm("Search","Student",FormMethod.Get))
{
   
   <b>Search by:</b> @Html.RadioButton("searchBy", ViewBag.SearchByName as string) <text> By name </text>
    @Html.RadioButton("searchBy",ViewBag.SearchById as string) <text> By Id </text> 
   @Html.TextBox("search") <input type="submit" value="Search" />
}



<h2>Details</h2>
@if (Model == null)
{
    <h4>  No Student </h4>
}
else
{ 
<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdStudent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdStudent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

    </dl>
</div>
}
